@use 'variables' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
html {
    font-size: 16px;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
}
body {
    padding: 40px;
    background-color: $neutral-50;
}