@use 'variables' as *;

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: $checkbox-default-normal-bg-color;

    border: 1px solid $checkbox-default-normal-border-color;
    border-radius: 6px;

    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;

    &::after {
        content: '';
        
        position: absolute;
        top: 4px;
        left: 7px;

        width: 3px;
        height: 6px;
        border: solid $checkbox-default-normal-check-color;
        border-width: 0 2px 2px 0;

        transform: rotate(45deg) scale(0);
        transition: transform 0.2s ease;
    }

    &:checked {
        background-color: $checkbox-default-checked-bg-color;
        border-color: $checkbox-default-checked-border-color;
        
        &::after {
            transform: rotate(45deg) scale(1);
        }
    }

    &:focus-visible {
        outline: 2px solid $checkbox-default-focus-outline-color;
        outline-offset: 2px;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: $checkbox-default-disabled-bg-color;
        border-color: $checkbox-default-disabled-border-color;
    }
}