@use 'variables' as *;

button, input[type='button'], input[type='submit'] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    border-radius: 12px;

    font-size: inherit;
    font-family: inherit;
    font-weight: 500;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline: none;
    text-decoration: none;

    background-color: $btn-default-normal-bg-color;
    border: 1px solid $btn-default-normal-border-color;
    color: $btn-default-normal-text-color;

    &.small {
        padding: 8px 16px;
        border-radius: 8px;
        font-size: 0.875rem;
    }

    @media (hover: hover) {
        &:hover,
        &.is-hovered {
            background-color: $btn-default-hover-bg-color;
            border-color: $btn-default-hover-border-color;
        }
    }

    &:active,
    &.is-actived {
        background-color: $btn-default-active-bg-color;
        border-color: $btn-default-active-border-color;
        transform: scale(0.98);
    }
    
    &:focus-visible,
    &.is-focused { 
        outline: 2px solid $btn-default-focus-outline-color;
        outline-offset: 2px;
    }
    
    &:disabled {
        cursor: not-allowed;
        background-color: $btn-default-disabled-bg-color;
        border-color: $btn-default-disabled-border-color;
        color: $btn-default-disabled-text-color;
        transform: none;
    }
    &[readonly] {
        cursor: default;
        background-color: $btn-default-readonly-bg-color;
        border-color: $btn-default-readonly-border-color;
        color: $btn-default-readonly-text-color;
        transform: none;
        
        @media (hover: hover) {
            &:hover,
            &.is-hovered {
                background-color: $btn-default-readonly-bg-color;
                border-color: $btn-default-readonly-border-color;
            }
        }
    }

    &.primary {
        background-color: $btn-primary-normal-bg-color;
        border: 1px solid $btn-primary-normal-border-color;
        color: $btn-primary-normal-text-color;

        @media (hover: hover) {
            &:hover,
            &.is-hovered {
                background-color: $btn-primary-hover-bg-color;
                border-color: $btn-primary-hover-border-color;
            }
        }

        &:active,
        &.is-actived {
            background-color: $btn-primary-active-bg-color;
            border-color: $btn-primary-active-border-color;
            transform: scale(0.98);
        }
        
        &:focus-visible,
        &.is-focused { 
            outline: 2px solid $btn-primary-focus-outline-color;
            outline-offset: 2px;
        }
        
        &:disabled {
            cursor: not-allowed;
            background-color: $btn-primary-disabled-bg-color;
            border-color: $btn-primary-disabled-border-color;
            color: $btn-primary-disabled-text-color;
            transform: none;
        }
        &[readonly] {
            cursor: primary;
            background-color: $btn-primary-readonly-bg-color;
            border-color: $btn-primary-readonly-border-color;
            color: $btn-primary-readonly-text-color;
            transform: none;
            
            @media (hover: hover) {
                &:hover,
                &.is-hovered {
                    background-color: $btn-primary-readonly-bg-color;
                    border-color: $btn-primary-readonly-border-color;
                }
            }
        }
    }

    &.secondary {
        background-color: $btn-secondary-normal-bg-color;
        border: 1px solid $btn-secondary-normal-border-color;
        color: $btn-secondary-normal-text-color;

        @media (hover: hover) {
            &:hover,
            &.is-hovered {
                background-color: $btn-secondary-hover-bg-color;
                border-color: $btn-secondary-hover-border-color;
            }
        }

        &:active,
        &.is-actived {
            background-color: $btn-secondary-active-bg-color;
            border-color: $btn-secondary-active-border-color;
            transform: scale(0.98);
        }
        
        &:focus-visible,
        &.is-focused { 
            outline: 2px solid $btn-secondary-focus-outline-color;
            outline-offset: 2px;
        }
        
        &:disabled {
            cursor: not-allowed;
            background-color: $btn-secondary-disabled-bg-color;
            border-color: $btn-secondary-disabled-border-color;
            color: $btn-secondary-disabled-text-color;
            transform: none;
        }
        &[readonly] {
            cursor: secondary;
            background-color: $btn-secondary-readonly-bg-color;
            border-color: $btn-secondary-readonly-border-color;
            color: $btn-secondary-readonly-text-color;
            transform: none;
            
            @media (hover: hover) {
                &:hover,
                &.is-hovered {
                    background-color: $btn-secondary-readonly-bg-color;
                    border-color: $btn-secondary-readonly-border-color;
                }
            }
        }
    }

    &.success {
        background-color: $btn-success-normal-bg-color;
        border: 1px solid $btn-success-normal-border-color;
        color: $btn-success-normal-text-color;

        @media (hover: hover) {
            &:hover,
            &.is-hovered {
                background-color: $btn-success-hover-bg-color;
                border-color: $btn-success-hover-border-color;
            }
        }

        &:active,
        &.is-actived {
            background-color: $btn-success-active-bg-color;
            border-color: $btn-success-active-border-color;
            transform: scale(0.98);
        }
        
        &:focus-visible,
        &.is-focused { 
            outline: 2px solid $btn-success-focus-outline-color;
            outline-offset: 2px;
        }
        
        &:disabled {
            cursor: not-allowed;
            background-color: $btn-success-disabled-bg-color;
            border-color: $btn-success-disabled-border-color;
            color: $btn-success-disabled-text-color;
            transform: none;
        }
        &[readonly] {
            cursor: success;
            background-color: $btn-success-readonly-bg-color;
            border-color: $btn-success-readonly-border-color;
            color: $btn-success-readonly-text-color;
            transform: none;
            
            @media (hover: hover) {
                &:hover,
                &.is-hovered {
                    background-color: $btn-success-readonly-bg-color;
                    border-color: $btn-success-readonly-border-color;
                }
            }
        }
    }

    &.warning {
        background-color: $btn-warning-normal-bg-color;
        border: 1px solid $btn-warning-normal-border-color;
        color: $btn-warning-normal-text-color;

        @media (hover: hover) {
            &:hover,
            &.is-hovered {
                background-color: $btn-warning-hover-bg-color;
                border-color: $btn-warning-hover-border-color;
            }
        }

        &:active,
        &.is-actived {
            background-color: $btn-warning-active-bg-color;
            border-color: $btn-warning-active-border-color;
            transform: scale(0.98);
        }
        
        &:focus-visible,
        &.is-focused { 
            outline: 2px solid $btn-warning-focus-outline-color;
            outline-offset: 2px;
        }
        
        &:disabled {
            cursor: not-allowed;
            background-color: $btn-warning-disabled-bg-color;
            border-color: $btn-warning-disabled-border-color;
            color: $btn-warning-disabled-text-color;
            transform: none;
        }
        &[readonly] {
            cursor: warning;
            background-color: $btn-warning-readonly-bg-color;
            border-color: $btn-warning-readonly-border-color;
            color: $btn-warning-readonly-text-color;
            transform: none;
            
            @media (hover: hover) {
                &:hover,
                &.is-hovered {
                    background-color: $btn-warning-readonly-bg-color;
                    border-color: $btn-warning-readonly-border-color;
                }
            }
        }
    }

    &.danger {
        background-color: $btn-danger-normal-bg-color;
        border: 1px solid $btn-danger-normal-border-color;
        color: $btn-danger-normal-text-color;

        @media (hover: hover) {
            &:hover,
            &.is-hovered {
                background-color: $btn-danger-hover-bg-color;
                border-color: $btn-danger-hover-border-color;
            }
        }

        &:active,
        &.is-actived {
            background-color: $btn-danger-active-bg-color;
            border-color: $btn-danger-active-border-color;
            transform: scale(0.98);
        }
        
        &:focus-visible,
        &.is-focused { 
            outline: 2px solid $btn-danger-focus-outline-color;
            outline-offset: 2px;
        }
        
        &:disabled {
            cursor: not-allowed;
            background-color: $btn-danger-disabled-bg-color;
            border-color: $btn-danger-disabled-border-color;
            color: $btn-danger-disabled-text-color;
            transform: none;
        }
        &[readonly] {
            cursor: danger;
            background-color: $btn-danger-readonly-bg-color;
            border-color: $btn-danger-readonly-border-color;
            color: $btn-danger-readonly-text-color;
            transform: none;
            
            @media (hover: hover) {
                &:hover,
                &.is-hovered {
                    background-color: $btn-danger-readonly-bg-color;
                    border-color: $btn-danger-readonly-border-color;
                }
            }
        }
    }

    &.info {
        background-color: $btn-info-normal-bg-color;
        border: 1px solid $btn-info-normal-border-color;
        color: $btn-info-normal-text-color;

        @media (hover: hover) {
            &:hover,
            &.is-hovered {
                background-color: $btn-info-hover-bg-color;
                border-color: $btn-info-hover-border-color;
            }
        }

        &:active,
        &.is-actived {
            background-color: $btn-info-active-bg-color;
            border-color: $btn-info-active-border-color;
            transform: scale(0.98);
        }
        
        &:focus-visible,
        &.is-focused { 
            outline: 2px solid $btn-info-focus-outline-color;
            outline-offset: 2px;
        }
        
        &:disabled {
            cursor: not-allowed;
            background-color: $btn-info-disabled-bg-color;
            border-color: $btn-info-disabled-border-color;
            color: $btn-info-disabled-text-color;
            transform: none;
        }
        &[readonly] {
            cursor: info;
            background-color: $btn-info-readonly-bg-color;
            border-color: $btn-info-readonly-border-color;
            color: $btn-info-readonly-text-color;
            transform: none;
            
            @media (hover: hover) {
                &:hover,
                &.is-hovered {
                    background-color: $btn-info-readonly-bg-color;
                    border-color: $btn-info-readonly-border-color;
                }
            }
        }
    }

    &.help {
        background-color: $btn-help-normal-bg-color;
        border: 1px solid $btn-help-normal-border-color;
        color: $btn-help-normal-text-color;

        @media (hover: hover) {
            &:hover,
            &.is-hovered {
                background-color: $btn-help-hover-bg-color;
                border-color: $btn-help-hover-border-color;
            }
        }

        &:active,
        &.is-actived {
            background-color: $btn-help-active-bg-color;
            border-color: $btn-help-active-border-color;
            transform: scale(0.98);
        }
        
        &:focus-visible,
        &.is-focused { 
            outline: 2px solid $btn-help-focus-outline-color;
            outline-offset: 2px;
        }
        
        &:disabled {
            cursor: not-allowed;
            background-color: $btn-help-disabled-bg-color;
            border-color: $btn-help-disabled-border-color;
            color: $btn-help-disabled-text-color;
            transform: none;
        }
        &[readonly] {
            cursor: help;
            background-color: $btn-help-readonly-bg-color;
            border-color: $btn-help-readonly-border-color;
            color: $btn-help-readonly-text-color;
            transform: none;
            
            @media (hover: hover) {
                &:hover,
                &.is-hovered {
                    background-color: $btn-help-readonly-bg-color;
                    border-color: $btn-help-readonly-border-color;
                }
            }
        }
    }
}