@use 'variables' as *;

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    thead {
        background-color: $neutral-50;
        font-size: 0.875rem;
    }

    tbody tr:hover {
        background-color: $primary-50;
    }

    th, td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 12px;
        text-align: center;
        vertical-align: middle;
    }
    tr {
        border-bottom: 1px solid $neutral-50;

        &:last-child {
            border-bottom: none;
        }
    }
}