$neutral-0: #ffffff;
$neutral-50: #f8f9fa;
$neutral-100: #f1f3f5;
$neutral-200: #e9ecef;
$neutral-300: #dee2e6;
$neutral-400: #ced4da;
$neutral-500: #b8c0cc;
$neutral-600: #868e96;
$neutral-700: #495057;
$neutral-800: #343a40;
$neutral-900: #212529;
$neutral-950: #121416;
$neutral-1000: #000000;

$primary-50: #e8fdf8;
$primary-100: #c2f9ee;
$primary-200: #93f5e1;
$primary-300: #62f1d4;
$primary-400: #3ff0ca;
$primary-500: #1cecbf;
$primary-600: #18d4ac;
$primary-700: #14bc99;
$primary-800: #11a485;
$primary-900: #0d8c72;
$primary-950: #0a735e;

$secondary-50:  #f5f3ff;
$secondary-100: #ede9fe;
$secondary-200: #ddd6fe;
$secondary-300: #c4b5fd;
$secondary-400: #a78bfa;
$secondary-500: #8b5cf6;
$secondary-600: #7c3aed;
$secondary-700: #6d28d9;
$secondary-800: #5b21b6;
$secondary-900: #4c1d95;
$secondary-950: #2e1065;

$success-50:  #f0fdf4;
$success-100: #dcfce7;
$success-200: #bbf7d0;
$success-300: #86efac;
$success-400: #4ade80;
$success-500: #22c55e;
$success-600: #16a34a;
$success-700: #15803d;
$success-800: #166534;
$success-900: #14532d;
$success-950: #052c16;

$warning-50:  #fffbeb;
$warning-100: #fef3c7;
$warning-200: #fde68a;
$warning-300: #fcd34d;
$warning-400: #fbbf24;
$warning-500: #f59e0b;
$warning-600: #d97706;
$warning-700: #b45309;
$warning-800: #92400e;
$warning-900: #78350f;
$warning-950: #451a03;

$danger-50:  #fef2f2;
$danger-100: #fee2e2;
$danger-200: #fecaca;
$danger-300: #fca5a5;
$danger-400: #f87171;
$danger-500: #ef4444;
$danger-600: #dc2626;
$danger-700: #b91c1c;
$danger-800: #991b1b;
$danger-900: #7f1d1d;
$danger-950: #450a0a;

$info-50:  #f0f9ff;
$info-100: #e0f2fe;
$info-200: #bae6fd;
$info-300: #7dd3fc;
$info-400: #38bdf8;
$info-500: #0ea5e9;
$info-600: #0284c7;
$info-700: #0369a1;
$info-800: #075985;
$info-900: #0c4a6e;
$info-950: #082f49;

$help-50:  #f5f3ff;
$help-100: #ede9fe;
$help-200: #ddd6fe;
$help-300: #c4b5fd;
$help-400: #a78bfa;
$help-500: #818cf8;
$help-600: #6366f1;
$help-700: #4f46e5;
$help-800: #4338ca;
$help-900: #3730a3;
$help-950: #1e1b4b;

$text-input-default-normal-bg-color: $neutral-0;
$text-input-default-normal-border-color: $neutral-200;
$text-input-default-normal-text-color: $neutral-900;
$text-input-default-normal-placeholder-color: $neutral-400;

$text-input-default-hover-bg-color: $neutral-50;
$text-input-default-hover-border-color: $neutral-300;
$text-input-default-hover-text-color: $neutral-900;

$text-input-default-active-bg-color: $neutral-100;
$text-input-default-active-border-color: $neutral-400;
$text-input-default-active-text-color: $neutral-900;

$text-input-default-disabled-bg-color: $neutral-50;
$text-input-default-disabled-border-color: $neutral-100;
$text-input-default-disabled-text-color: $neutral-400;

$text-input-default-readonly-bg-color: $neutral-50;
$text-input-default-readonly-border-color: $neutral-100;
$text-input-default-readonly-text-color: $neutral-600;

$text-input-default-focus-outline-color: $primary-500;


$text-input-primary-normal-bg-color: $primary-100;
$text-input-primary-normal-border-color: $primary-200;
$text-input-primary-normal-text-color: $primary-900;
$text-input-primary-normal-placeholder-color: $primary-800;

$text-input-primary-hover-bg-color: $primary-200;
$text-input-primary-hover-border-color: $primary-300;
$text-input-primary-hover-text-color: $primary-900;

$text-input-primary-active-bg-color: $primary-300;
$text-input-primary-active-border-color: $primary-400;
$text-input-primary-active-text-color: $primary-900;

$text-input-primary-disabled-bg-color: $primary-50;
$text-input-primary-disabled-border-color: $primary-100;
$text-input-primary-disabled-text-color: $primary-200;

$text-input-primary-readonly-bg-color: $primary-50;
$text-input-primary-readonly-border-color: $primary-100;
$text-input-primary-readonly-text-color: $primary-300;

$text-input-primary-focus-outline-color: $primary-500;


$text-input-secondary-normal-bg-color: $secondary-100;
$text-input-secondary-normal-border-color: $secondary-200;
$text-input-secondary-normal-text-color: $secondary-900;
$text-input-secondary-normal-placeholder-color: $secondary-800;

$text-input-secondary-hover-bg-color: $secondary-200;
$text-input-secondary-hover-border-color: $secondary-300;
$text-input-secondary-hover-text-color: $secondary-900;

$text-input-secondary-active-bg-color: $secondary-300;
$text-input-secondary-active-border-color: $secondary-400;
$text-input-secondary-active-text-color: $secondary-900;

$text-input-secondary-disabled-bg-color: $secondary-50;
$text-input-secondary-disabled-border-color: $secondary-100;
$text-input-secondary-disabled-text-color: $secondary-200;

$text-input-secondary-readonly-bg-color: $secondary-50;
$text-input-secondary-readonly-border-color: $secondary-100;
$text-input-secondary-readonly-text-color: $secondary-300;

$text-input-secondary-focus-outline-color: $secondary-500;


$text-input-success-normal-bg-color: $success-100;
$text-input-success-normal-border-color: $success-200;
$text-input-success-normal-text-color: $success-900;
$text-input-success-normal-placeholder-color: $success-800;

$text-input-success-hover-bg-color: $success-200;
$text-input-success-hover-border-color: $success-300;
$text-input-success-hover-text-color: $success-900;

$text-input-success-active-bg-color: $success-300;
$text-input-success-active-border-color: $success-400;
$text-input-success-active-text-color: $success-900;

$text-input-success-disabled-bg-color: $success-50;
$text-input-success-disabled-border-color: $success-100;
$text-input-success-disabled-text-color: $success-200;

$text-input-success-readonly-bg-color: $success-50;
$text-input-success-readonly-border-color: $success-100;
$text-input-success-readonly-text-color: $success-300;

$text-input-success-focus-outline-color: $success-500;


$text-input-warning-normal-bg-color: $warning-100;
$text-input-warning-normal-border-color: $warning-200;
$text-input-warning-normal-text-color: $warning-900;
$text-input-warning-normal-placeholder-color: $warning-800;

$text-input-warning-hover-bg-color: $warning-200;
$text-input-warning-hover-border-color: $warning-300;
$text-input-warning-hover-text-color: $warning-900;

$text-input-warning-active-bg-color: $warning-300;
$text-input-warning-active-border-color: $warning-400;
$text-input-warning-active-text-color: $warning-900;

$text-input-warning-disabled-bg-color: $warning-50;
$text-input-warning-disabled-border-color: $warning-100;
$text-input-warning-disabled-text-color: $warning-200;

$text-input-warning-readonly-bg-color: $warning-50;
$text-input-warning-readonly-border-color: $warning-100;
$text-input-warning-readonly-text-color: $warning-300;

$text-input-warning-focus-outline-color: $warning-500;


$text-input-danger-normal-bg-color: $danger-100;
$text-input-danger-normal-border-color: $danger-200;
$text-input-danger-normal-text-color: $danger-900;
$text-input-danger-normal-placeholder-color: $danger-800;

$text-input-danger-hover-bg-color: $danger-200;
$text-input-danger-hover-border-color: $danger-300;
$text-input-danger-hover-text-color: $danger-900;

$text-input-danger-active-bg-color: $danger-300;
$text-input-danger-active-border-color: $danger-400;
$text-input-danger-active-text-color: $danger-900;

$text-input-danger-disabled-bg-color: $danger-50;
$text-input-danger-disabled-border-color: $danger-100;
$text-input-danger-disabled-text-color: $danger-200;

$text-input-danger-readonly-bg-color: $danger-50;
$text-input-danger-readonly-border-color: $danger-100;
$text-input-danger-readonly-text-color: $danger-300;

$text-input-danger-focus-outline-color: $danger-500;


$text-input-info-normal-bg-color: $info-100;
$text-input-info-normal-border-color: $info-200;
$text-input-info-normal-text-color: $info-900;
$text-input-info-normal-placeholder-color: $info-800;

$text-input-info-hover-bg-color: $info-200;
$text-input-info-hover-border-color: $info-300;
$text-input-info-hover-text-color: $info-900;

$text-input-info-active-bg-color: $info-300;
$text-input-info-active-border-color: $info-400;
$text-input-info-active-text-color: $info-900;

$text-input-info-disabled-bg-color: $info-50;
$text-input-info-disabled-border-color: $info-100;
$text-input-info-disabled-text-color: $info-200;

$text-input-info-readonly-bg-color: $info-50;
$text-input-info-readonly-border-color: $info-100;
$text-input-info-readonly-text-color: $info-300;

$text-input-info-focus-outline-color: $info-500;


$text-input-help-normal-bg-color: $help-100;
$text-input-help-normal-border-color: $help-200;
$text-input-help-normal-text-color: $help-900;
$text-input-help-normal-placeholder-color: $help-800;

$text-input-help-hover-bg-color: $help-200;
$text-input-help-hover-border-color: $help-300;
$text-input-help-hover-text-color: $help-900;

$text-input-help-active-bg-color: $help-300;
$text-input-help-active-border-color: $help-400;
$text-input-help-active-text-color: $help-900;

$text-input-help-disabled-bg-color: $help-50;
$text-input-help-disabled-border-color: $help-100;
$text-input-help-disabled-text-color: $help-200;

$text-input-help-readonly-bg-color: $help-50;
$text-input-help-readonly-border-color: $help-100;
$text-input-help-readonly-text-color: $help-300;

$text-input-help-focus-outline-color: $help-500;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.2;
}
html {
    font-size: 16px;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='url'] {
    width: 100%;
    padding: 12px 24px;
    border-radius: 12px;

    font-size: inherit;
    font-family: inherit;

    background-color: $text-input-default-normal-bg-color;
    border: 1px solid $text-input-default-normal-border-color;
    color: $text-input-default-normal-text-color;
    
    transition: all 0.2s ease-in-out;
    outline: none;

    &::placeholder {
        color: $text-input-default-normal-placeholder-color;
    }

    @media (hover: hover) {
        &:hover:not(:disabled):not([readonly]),
        &.is-hovered:not(:disabled):not([readonly]) {
            background-color: $text-input-default-hover-bg-color;
            border: 1px solid $text-input-default-hover-border-color;
            color: $text-input-default-hover-text-color;
        }
    }
    &:active:not(:disabled):not([readonly]),
    &.is-actived:not(:disabled):not([readonly]) {
        background-color: $text-input-default-active-bg-color;
        border-color: $text-input-default-active-border-color;
        color: $text-input-default-active-text-color;
        transform: scale(0.98);
    }

    &:focus:not(:disabled):not([readonly]),
    &.is-focused:not(:disabled):not([readonly]) {
        outline: 2px solid $text-input-default-focus-outline-color;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: $text-input-default-disabled-bg-color;
        border-color: $text-input-default-disabled-border-color;
        color: $text-input-default-disabled-text-color;
        transform: none;

        &::placeholder {
            color: $text-input-default-disabled-text-color;
        }
    }

    &[readonly] {
        cursor: default;
        background-color: $text-input-default-readonly-bg-color;
        border-color: $text-input-default-readonly-border-color;
        color: $text-input-default-readonly-text-color;
    }

    &.primary {
        background-color: $text-input-primary-normal-bg-color;
        border: 1px solid $text-input-primary-normal-border-color;
        color: $text-input-primary-normal-text-color;

        &::placeholder {
            color: $text-input-primary-normal-placeholder-color;
        }

        @media (hover: hover) {
            &:hover:not(:disabled):not([readonly]),
            &.is-hovered:not(:disabled):not([readonly]) {
                background-color: $text-input-primary-hover-bg-color;
                border: 1px solid $text-input-primary-hover-border-color;
                color: $text-input-primary-hover-text-color;
            }
        }
        &:active:not(:disabled):not([readonly]),
        &.is-actived:not(:disabled):not([readonly]) {
            background-color: $text-input-primary-active-bg-color;
            border-color: $text-input-primary-active-border-color;
            color: $text-input-primary-active-text-color;
        }

        &:focus:not(:disabled):not([readonly]),
        &.is-focused:not(:disabled):not([readonly]) {
            outline: 2px solid $text-input-primary-focus-outline-color;
        }

        &:disabled {
            background-color: $text-input-primary-disabled-bg-color;
            border-color: $text-input-primary-disabled-border-color;
            color: $text-input-primary-disabled-text-color;

            &::placeholder {
                color: $text-input-primary-disabled-text-color;
            }
        }

        &[readonly] {
            background-color: $text-input-primary-readonly-bg-color;
            border-color: $text-input-primary-readonly-border-color;
            color: $text-input-primary-readonly-text-color;
        }
    }

    &.secondary {
        background-color: $text-input-secondary-normal-bg-color;
        border: 1px solid $text-input-secondary-normal-border-color;
        color: $text-input-secondary-normal-text-color;

        &::placeholder {
            color: $text-input-secondary-normal-placeholder-color;
        }

        @media (hover: hover) {
            &:hover:not(:disabled):not([readonly]),
            &.is-hovered:not(:disabled):not([readonly]) {
                background-color: $text-input-secondary-hover-bg-color;
                border: 1px solid $text-input-secondary-hover-border-color;
                color: $text-input-secondary-hover-text-color;
            }
        }
        &:active:not(:disabled):not([readonly]),
        &.is-actived:not(:disabled):not([readonly]) {
            background-color: $text-input-secondary-active-bg-color;
            border-color: $text-input-secondary-active-border-color;
            color: $text-input-secondary-active-text-color;
        }

        &:focus:not(:disabled):not([readonly]),
        &.is-focused:not(:disabled):not([readonly]) {
            outline: 2px solid $text-input-secondary-focus-outline-color;
        }

        &:disabled {
            background-color: $text-input-secondary-disabled-bg-color;
            border-color: $text-input-secondary-disabled-border-color;
            color: $text-input-secondary-disabled-text-color;

            &::placeholder {
                color: $text-input-secondary-disabled-text-color;
            }
        }

        &[readonly] {
            background-color: $text-input-secondary-readonly-bg-color;
            border-color: $text-input-secondary-readonly-border-color;
            color: $text-input-secondary-readonly-text-color;
        }
    }

    &.success {
        background-color: $text-input-success-normal-bg-color;
        border: 1px solid $text-input-success-normal-border-color;
        color: $text-input-success-normal-text-color;

        &::placeholder {
            color: $text-input-success-normal-placeholder-color;
        }

        @media (hover: hover) {
            &:hover:not(:disabled):not([readonly]),
            &.is-hovered:not(:disabled):not([readonly]) {
                background-color: $text-input-success-hover-bg-color;
                border: 1px solid $text-input-success-hover-border-color;
                color: $text-input-success-hover-text-color;
            }
        }
        &:active:not(:disabled):not([readonly]),
        &.is-actived:not(:disabled):not([readonly]) {
            background-color: $text-input-success-active-bg-color;
            border-color: $text-input-success-active-border-color;
            color: $text-input-success-active-text-color;
        }

        &:focus:not(:disabled):not([readonly]),
        &.is-focused:not(:disabled):not([readonly]) {
            outline: 2px solid $text-input-success-focus-outline-color;
        }

        &:disabled {
            background-color: $text-input-success-disabled-bg-color;
            border-color: $text-input-success-disabled-border-color;
            color: $text-input-success-disabled-text-color;

            &::placeholder {
                color: $text-input-success-disabled-text-color;
            }
        }

        &[readonly] {
            background-color: $text-input-success-readonly-bg-color;
            border-color: $text-input-success-readonly-border-color;
            color: $text-input-success-readonly-text-color;
        }
    }

    &.warning {
        background-color: $text-input-warning-normal-bg-color;
        border: 1px solid $text-input-warning-normal-border-color;
        color: $text-input-warning-normal-text-color;

        &::placeholder {
            color: $text-input-warning-normal-placeholder-color;
        }

        @media (hover: hover) {
            &:hover:not(:disabled):not([readonly]),
            &.is-hovered:not(:disabled):not([readonly]) {
                background-color: $text-input-warning-hover-bg-color;
                border: 1px solid $text-input-warning-hover-border-color;
                color: $text-input-warning-hover-text-color;
            }
        }
        &:active:not(:disabled):not([readonly]),
        &.is-actived:not(:disabled):not([readonly]) {
            background-color: $text-input-warning-active-bg-color;
            border-color: $text-input-warning-active-border-color;
            color: $text-input-warning-active-text-color;
        }

        &:focus:not(:disabled):not([readonly]),
        &.is-focused:not(:disabled):not([readonly]) {
            outline: 2px solid $text-input-warning-focus-outline-color;
        }

        &:disabled {
            background-color: $text-input-warning-disabled-bg-color;
            border-color: $text-input-warning-disabled-border-color;
            color: $text-input-warning-disabled-text-color;

            &::placeholder {
                color: $text-input-warning-disabled-text-color;
            }
        }

        &[readonly] {
            background-color: $text-input-warning-readonly-bg-color;
            border-color: $text-input-warning-readonly-border-color;
            color: $text-input-warning-readonly-text-color;
        }
    }

    &.danger {
        background-color: $text-input-danger-normal-bg-color;
        border: 1px solid $text-input-danger-normal-border-color;
        color: $text-input-danger-normal-text-color;

        &::placeholder {
            color: $text-input-danger-normal-placeholder-color;
        }

        @media (hover: hover) {
            &:hover:not(:disabled):not([readonly]),
            &.is-hovered:not(:disabled):not([readonly]) {
                background-color: $text-input-danger-hover-bg-color;
                border: 1px solid $text-input-danger-hover-border-color;
                color: $text-input-danger-hover-text-color;
            }
        }
        &:active:not(:disabled):not([readonly]),
        &.is-actived:not(:disabled):not([readonly]) {
            background-color: $text-input-danger-active-bg-color;
            border-color: $text-input-danger-active-border-color;
            color: $text-input-danger-active-text-color;
        }

        &:focus:not(:disabled):not([readonly]),
        &.is-focused:not(:disabled):not([readonly]) {
            outline: 2px solid $text-input-danger-focus-outline-color;
        }

        &:disabled {
            background-color: $text-input-danger-disabled-bg-color;
            border-color: $text-input-danger-disabled-border-color;
            color: $text-input-danger-disabled-text-color;

            &::placeholder {
                color: $text-input-danger-disabled-text-color;
            }
        }

        &[readonly] {
            background-color: $text-input-danger-readonly-bg-color;
            border-color: $text-input-danger-readonly-border-color;
            color: $text-input-danger-readonly-text-color;
        }
    }

    &.info {
        background-color: $text-input-info-normal-bg-color;
        border: 1px solid $text-input-info-normal-border-color;
        color: $text-input-info-normal-text-color;

        &::placeholder {
            color: $text-input-info-normal-placeholder-color;
        }

        @media (hover: hover) {
            &:hover:not(:disabled):not([readonly]),
            &.is-hovered:not(:disabled):not([readonly]) {
                background-color: $text-input-info-hover-bg-color;
                border: 1px solid $text-input-info-hover-border-color;
                color: $text-input-info-hover-text-color;
            }
        }
        &:active:not(:disabled):not([readonly]),
        &.is-actived:not(:disabled):not([readonly]) {
            background-color: $text-input-info-active-bg-color;
            border-color: $text-input-info-active-border-color;
            color: $text-input-info-active-text-color;
        }

        &:focus:not(:disabled):not([readonly]),
        &.is-focused:not(:disabled):not([readonly]) {
            outline: 2px solid $text-input-info-focus-outline-color;
        }

        &:disabled {
            background-color: $text-input-info-disabled-bg-color;
            border-color: $text-input-info-disabled-border-color;
            color: $text-input-info-disabled-text-color;

            &::placeholder {
                color: $text-input-info-disabled-text-color;
            }
        }

        &[readonly] {
            background-color: $text-input-info-readonly-bg-color;
            border-color: $text-input-info-readonly-border-color;
            color: $text-input-info-readonly-text-color;
        }
    }

    &.help {
        background-color: $text-input-help-normal-bg-color;
        border: 1px solid $text-input-help-normal-border-color;
        color: $text-input-help-normal-text-color;

        &::placeholder {
            color: $text-input-help-normal-placeholder-color;
        }

        @media (hover: hover) {
            &:hover:not(:disabled):not([readonly]),
            &.is-hovered:not(:disabled):not([readonly]) {
                background-color: $text-input-help-hover-bg-color;
                border: 1px solid $text-input-help-hover-border-color;
                color: $text-input-help-hover-text-color;
            }
        }
        &:active:not(:disabled):not([readonly]),
        &.is-actived:not(:disabled):not([readonly]) {
            background-color: $text-input-help-active-bg-color;
            border-color: $text-input-help-active-border-color;
            color: $text-input-help-active-text-color;
        }

        &:focus:not(:disabled):not([readonly]),
        &.is-focused:not(:disabled):not([readonly]) {
            outline: 2px solid $text-input-help-focus-outline-color;
        }

        &:disabled {
            background-color: $text-input-help-disabled-bg-color;
            border-color: $text-input-help-disabled-border-color;
            color: $text-input-help-disabled-text-color;

            &::placeholder {
                color: $text-input-help-disabled-text-color;
            }
        }

        &[readonly] {
            background-color: $text-input-help-readonly-bg-color;
            border-color: $text-input-help-readonly-border-color;
            color: $text-input-help-readonly-text-color;
        }
    }
}